.mota{
        text-align: justify;
        text-indent: 7%;
        color: dimgrey;}
.mota_sp{margin-left: 10%;}
.tsp{font-weight: bold;
    font-size: 20px;}
.gia{font-size: 25px;}
.giagoc{
    text-decoration: line-through;
}
