*{margin: 0;}
body{
    background-color: #EBE0C5;}
.all{width: 1700px;
    margin: 0 auto;}
.nav{ 
     background-color: white;
    width: 1900px;
    margin: 0 auto;
    position: fixed;
    top: 0;}
.nav ul {border-top: solid 1px #e5e5e5;
         border-bottom: solid 1px #e5e5e5; 
        margin-top: 5px;}

.nav ul li{list-style: none;}
.nav ul{display: flex;}
.nav ul li a{text-decoration: none;
            font-size: 18px;
            display: flex;
            color: black;
            padding: 18px 9px;
            }
.nav ul li a:hover{
    border-bottom: 2px solid red;
    color: red;
    
}
h3{margin-top: 15px;}
a:hover{color: brown;}
.body{background-color: rgb(255, 255, 255);
      position: relative; 
        width: 1400px;
        top: 150px;
        margin: 0 auto; } 

.img_1{width: 600px;
    margin: 15px 0;
    height: 300px;
    margin: 15px;
       }
.img{display: flex;
   ;}
.img_2{width: 350px;
    margin: 15px 15px}
.tt{border-top: solid 1px #e5e5e5;
    display: flex ;
   
    width: 610px;
    margin: 15px;
    position: relative;
    }
.tt div{flex: 1;}
.img_3{width: 300px;
        }
.img_3_1{margin-top: 20px;}

.ttt{border-top: solid 1px #e5e5e5;
    margin-top: 197px;}